<!DOCTYPE html>
<html>
  <head>
    <title>Couples: NEW GEMA PROJECTS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="/scripts?fn=tailwind"></script>
    <link rel="stylesheet" href="/styles?fn=style">
  </head>
  <body class="absolute w-full h-full items-center justify-center flex"
  style="
    font-family: 'fathiqa';
  "
  >
    <img src="/file?fn=adamdandewi.jpg"
    style="
      width:100%;
      height:100%;
      object-fit: cover;
      position: absolute;
    ">
    <main style="
      width:100%;
      height:100%;
      overflow:hidden;
      z-index: 1;
      background: #00000033;
    ">
      <div class="page"
      style="
        height:697px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:30px;
        font-size: 72px;
        color: white;
        width:100%;
      "
      >
        <div style="
          /* display:flex;
          align-items: center;
          justify-content: center;
          gap:20px; */
        ">
          <div style="text-align: center;font-size:16px" id="longlong">
            Menghitung...
          </div>
          <div class="fontsizesetting">
            Adam Dan Dewi
          </div>
        </div>
      </div>
      <div class="page"
      style="
        height:697px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:30px;
        font-size: 64px;
        color: white;
        width:100%;
        position: relative;
      "
      >
        <img src="/file?fn=masudin.png"
        style="
          width: 100%;
          height: 100%;
          object-fit: cover;
        "
        >
        <div style="
          width: 40%;
          font-size:24px;
          text-align: center;
          position: absolute;
        ">
          <div
          style="font-size: 32px;"
          >
            Mas Adam
          </div>
          <div>
            "Saya Suka Dewi Karena Bullet"
          </div>
        </div>
      </div>
      <div class="page"
      style="
        height:697px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:30px;
        font-size: 64px;
        color: white;
        width:100%;
        position: relative;
      "
      >
        <img src="/file?fn=mbaknana.png"
        style="
          width: 100%;
          height: 100%;
          object-fit: cover;
        "
        >
        <div style="
          width: 40%;
          font-size:24px;
          text-align: center;
          position: absolute;
        ">
          <div
          style="font-size: 32px;"
          >
            Mbak Dewi
          </div>
          <div>
            "Mas Adam Itu Kuat Berurat Gituloh"
          </div>
        </div>
      </div>
      <div class="page"
      style="
        height:697px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:30px;
        font-size: 64px;
        color: white;
        width:100%;
      "
      >
        <div>
          <div style="
            padding:50px;
            border-radius: 20px;
          ">
            <div style="
                display: flex;
                gap:20px;
                align-items: center;
              ">
              <img src="/file?fn=masudin.png"
              style="
                width:128px;
                height: 128px;
                border-radius:50%;
                object-fit: cover;
                border:2px solid white;
              "
              >
              <div>
                <div style="
                    font-size: 32px;
                  ">Adam jamilun</div>
                <div style="
                  font-size:24px;
                ">Putra lazarus</div>
              </div>
            </div>
            <div style="
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom:32px;
            ">Dan</div>
            <div style="
                display: flex;
                gap: 20px;
                align-items: center;
              ">
              <div style="
                display: flex;
                align-items: flex-end;
                flex-direction: column;
              ">
                <div style="
                    font-size: 32px;
                  ">Dewiyana</div>
                <div style="
                  font-size:24px;
                ">Putri Bapak Sugeng</div>
              </div>
              <img src="/file?fn=mbaknana.png"
              style="
                width:128px;
                height: 128px;
                border-radius:50%;
                object-fit: cover;
                border: 2px solid white;
              "
              >
            </div>
          </div>
        </div>
      </div>
      <div class="page"
      style="
        height:697px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:30px;
        font-size: 64px;
        color: white;
        width:100%;
        position: relative;
      "
      >
        <img src="/file?fn=couplesonbike.jpg"
        style="
          width: 100%;
          height:100%;
          object-fit: cover;
        ">
        <div style="
          width: 40%;
          font-size:24px;
          text-align: center;
          position: absolute;
        ">
          <div
          style="font-size: 32px;"
          >
            Waktu Jadian
          </div>
          <div>
            Kamis, 20 Juli 2004, dimotor Dewi.
          </div>
        </div>
      </div>
      <div class="page"
      style="
        height:697px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:30px;
        font-size: 64px;
        color: white;
        width:100%;
        position: relative;
      "
      >
        <img src="/file?fn=bikeronbike.jpg"
        style="
          width: 100%;
          height: 100%;
          object-fit: cover;
        ">
        <div style="
          width: 40%;
          font-size:24px;
          text-align: center;
          position: absolute
        ">
          <div
          style="font-size: 32px;"
          >
            Kronologi Jadian
          </div>
          <div>
            Nggak Sengaja Kepegang.
          </div>
        </div>
      </div>
      <div class="page"
      style="
        height:697px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap:30px;
        font-size: 64px;
        color: white;
        width:100%;
      "
      >
        <div style="
          width: 40%;
          font-size:24px;
          text-align: center;
        ">
          <div
          style="font-size: 32px;font-style: italic;"
          >
            Couples
          </div>
          <div>
            Buat CouplesPage Anda!
          </div>
          <div style="
            display: flex;
            justify-content: center;
            margin-top:20px;
          ">
            <div
            style="
              padding:0 10px 20px 10px;
              background:#ffffff2e;
              border-radius:20px;
              width: auto;
              cursor:pointer;
            "
            >Buat Punyaku!</div>
          </div>
        </div>
      </div>
    </main>
    <header
    style="
      height:64px;
      width:100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: absolute;
      top:0;
      padding:0 20px;
      font-size: 32px;
      color: white;
      z-index: 1;
    "
    >
      <div style="font-style: italic;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        Couples
      </div>
      <div style="font-style: italic;display: flex;align-items: center;opacity: .5;" id="musictogle">
        <img src="/file?fn=audioonstop.png"
        style="
          width: 32px;
          height:32px;
          border-radius: 50%;
        ">
      </div>
    </header>
    <div id="humanslider" style="
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 32px;
      display: flex;
      position: absolute;
      right: 0;
      height:80%;
      width:100%;
      justify-content: space-between;
      gap: 50px;
      color: white;
      align-items: center;
      flex-direction: column;
      z-index: 1;
    ">
      <div id=top style="
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background:#ffffff2e;
        height:64px;
        width:64px;
        border-radius: 50%;
        opacity: 0;
      ">
        <img src="/file?fn=arrowtop.png" style="
          width:32px;
          height:32px;
        ">
      </div>
      <div id=down style="
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        background:#ffffff2e;
        height:64px;
        width:64px;
        border-radius: 50%;
      ">
        <img src="/file?fn=arrowdown.png" style="
          width:32px;
          height:32px;
        ">
      </div>
    </div>
    <div id="sejoliblockingpage"
    style="
      position: absolute;
      background:white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height:100%;
      z-index:1;
      flex-direction: column;
      font-size: 32px;
      font-style: italic;
    "
    >
      <div>Couples</div>
      <div style="font-size: 16px;">
        Mohon Tunggu...
      </div>
    </div>
  </body>
  <script src="/scripts?fn=infinity"></script>
  <script src="/scripts?fn=app"></script>
</html>